$colors: (
    primary: rgb(121,251,251),
    primary-mid: darken(rgb(121,251,251), 50%),
    primary-dark: darken(rgb(121,251,251), 65%),
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

#navbar {
    background-image: url(../../../public/img/HeaderBackGnd.png);
    background-size: cover;
    background-position-x: 50%;

    top:0;
    z-index: 10000;
    width: 100%;
    .navbar-brand {
        display: none;
        
    }

}
.scroll{
    position: fixed !important;
    #nav-logo {
        display: none !important;
    }
    .navbar-brand{
        display: block !important;
    }
}

#nav-logo{
    @media (max-width:576px) {
        display: none !important;
    }
}

.navbar-brand{
    @media (max-width:576px) {
        display: block !important;
        img {
            width: 250px !important;
        }
    }
}