$colors: (
    primary: rgb(121,251,251),
    primary-mid: darken(rgb(121,251,251), 50%),
    primary-dark: darken(rgb(121,251,251), 65%),
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

#navbar {
    background-image: url(../../../public/img/HeaderBackGnd.png);
    background-size: cover;
    background-position-x: 50%;
    top:0;
    width: 100%;
    position: fixed;
    z-index: 10000;


    .navbar-collapse {
        width: 100%;
        z-index: 20000;
        
        @media(max-width: 1000px) {
            padding-left: 20px;
            background-color: #d3ecf1;
        }
    }

}

#nav-logo{
    @media (max-width:576px) {
        display: none !important;
    }
}

.navbar-brand{
    @media (max-width:576px) {
        display: block !important;
        img {
            width: 250px !important;
        }
    }
}