$colors: (
    primary: rgb(121,251,251),
    primary-mid: darken(rgb(121,251,251), 50%),
    primary-dark: darken(rgb(121,251,251), 65%),
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

#navbar {
    background-image: url(../../../public/img/HeaderBackGnd.png);
    background-size: cover;

    top:0;
    z-index: 10000;
    width: 100%;


    #nav-logo {
        text-align: center;
        img {
            height: 150px;
        }
    }
    
    #nav-items {
        height: 60px;
        .nav-item {
            padding: 0 100px;
            a {
                color: color(primary-mid);
                font-weight: bold;
                font-size: 20px;
            }
        }
    }
}
.nav-scroll {
    position: fixed;
    #nav-logo {
        position: absolute !important;
        left: 15px !important;
        display: flex;
        align-content: center;

        img {
            height: 50px !important;
        }
    }
}