header {
  margin: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-image: url(../../img/HeaderBackGnd.png);
  background-position: right;
}

header nav .navbar-brand img {
  width: 280px;
}

@media (max-width: 400px) {
  header nav .navbar-brand img {
    width: 250px;
  }
}

header nav ul li {
  margin: 0 20px;
}

header nav ul li a {
  font-size: 20px;
  margin-top: -30px;
  font-weight: bold;
  color: #037272 !important;
}

@media (max-width: 990px) {
  header nav ul li a {
    margin-top: 0;
    text-align: center;
  }
}

@media (max-width: 990px) {
  header nav #langues {
    margin-top: 15px;
    text-align: center;
  }
}

@-webkit-keyframes popInCarousel {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    height: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    width: auto;
    height: 468px;
  }
}

@keyframes popInCarousel {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    height: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    width: auto;
    height: 468px;
  }
}

@-webkit-keyframes slideFromRight {
  0% {
    -webkit-transform: translateX(3000px);
            transform: translateX(3000px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideFromRight {
  0% {
    -webkit-transform: translateX(3000px);
            transform: translateX(3000px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.slideFromRight {
  -webkit-animation: slideFromRight 3s;
          animation: slideFromRight 3s;
}

.waiting {
  display: none !important;
}

body {
  background-image: url("../../img/background-1.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: left;
}

#section-carousel {
  -webkit-animation: popInCarousel 5s;
          animation: popInCarousel 5s;
  max-width: 840px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
}

#section-carousel #carouselExampleIndicators {
  width: 800px;
  margin: auto;
  padding: 20px;
}

@media (max-width: 990px) {
  #section-carousel #carouselExampleIndicators {
    width: 100% !important;
  }
}

#section-carousel #carouselExampleIndicators #carousel-inner {
  width: 500px !important;
}

#section-carousel #carouselExampleIndicators #carousel-inner img {
  width: 100% !important;
}

#section-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 650px) {
  #section-links {
    display: block;
  }
  #section-links div {
    display: block;
    width: 100%;
    text-align: center;
    margin: 10px 0 !important;
  }
  #section-links a {
    margin: auto;
  }
}

#section-links div {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

#section-links div a {
  display: block;
  background-color: white;
  color: #037272;
  font-size: 25px;
  font-weight: bold;
  padding: 15px;
  width: 200px;
  border-radius: 10px;
}

#section-links div a:hover {
  text-decoration: none;
  background-color: #037272;
  color: #79fbfb;
  border: solid #012727;
}
/*# sourceMappingURL=index.css.map */