$colors: (
    primary: rgb(121,251,251),
    primary-mid: darken(rgb(121,251,251), 50%),
    primary-dark: darken(rgb(121,251,251), 65%),
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

header {
    margin: auto;
    position: sticky;
    top: 0;
    z-index: 2;
    background-image: url(../../img/HeaderBackGnd.png); 
    background-position: right;
    nav {
        .navbar-brand {
            img {
                width:280px;
                @media (max-width: 400px) {
                    //Pour réduire le logo pour le format telephone
                    width: 250px;
                }
            }
        }
        ul {
            li {
                margin: 0 20px;
                a {
                    font-size: 20px;
                    margin-top: -30px;
                    font-weight: bold;
                    color: darken(rgb(121,251,251), 50%) !important;
                    
                    
                    @media (max-width: 990px){
                        //Pour le moment ou la barre est réduite en bouton
                        margin-top: 0;
                        text-align: center;
                    }
                }
            }
        }
        #langues {
            //les choix de langues
            @media (max-width: 990px){
                //Pour le moment ou la barre est réduite en bouton
                margin-top: 15px;
                text-align: center;
            }
        }  
    }
}

//Scrollbar de la page

//Largeur
::-webkit-scrollbar {
    width: 10px;
}

//Background
::-webkit-scrollbar-track {
    background-color: darken(color(primary-mid), 10%);
}

//Section qui bouge
::-webkit-scrollbar-thumb {
    background-color: color(primary-mid);
    &:hover {
        background-color: darken(color(primary-mid), 5%);
    }
}