@import "./_header.scss";

$colors: (
    primary: rgb(121,251,251),
    primary-mid: darken(rgb(121,251,251), 50%),
    primary-dark: darken(rgb(121,251,251), 65%),
);

@function color($color-name) {
    @return map-get($colors, $color-name);
    
}

body {
    background-image: url('../../img/background-1.png');
    background-attachment: fixed; 
    background-size: 100%;
}

section {
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;


    h1 {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 20px;
        span {
            color: color(primary-mid);
        }
    }

    .service {
        width: 80%;
        margin: auto;
        margin-top: 50px;
        padding: 15px;
        border: solid gray 1px;

        h2 {
            text-align: center;
            color: color(primary-mid);
        }

        a {
            color: color(primary);
            display: inline-block;
            width: 120px;
            height: 50px;
            background-color: color(primary-mid);
            text-align: center;
            padding-top: 13px;
        }

        img {
            display: block;
            height: 150px;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}