@import "./header.scss";

$colors: (
    primary: rgb(121,251,251),
    primary-mid: darken(rgb(121,251,251), 50%),
    primary-dark: darken(rgb(121,251,251), 65%),
);

$border-radius: 10px;

@function color($color-name) {
    @return map-get($colors, $color-name);
    
}

body {
    background-image: url('../../img/background-1.jpg');
}

section {
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;


    h1 {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 20px;
        span {
            color: color(primary-mid);
        }
    }
}
