@import "./_header.scss";

$colors: (
    primary: rgb(121,251,251),
    primary-mid: darken(rgb(121,251,251), 50%),
    primary-dark: darken(rgb(121,251,251), 65%),
);

@function color($color-name) {
    @return map-get($colors, $color-name);
    
}

body {
    background-image: url('../../img/background-1.png');
    background-attachment: fixed; 
    background-size: 100%;
}

section {
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    
    h1 {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 20px;
        span {
            color: color(primary-mid);
        }
    }

    #services-list {
        font-size: 25px;
        margin-bottom: 50px;
    }

    #intro-services {
        margin: auto;
        width: 90%;
        font-size: 22px;
        span {
            color: color(primary-mid);
        }

        @media (max-width: 1000px) {
            #arrow-right {
                display: none;
            }
            .col-12{
                margin-top: 20px !important;
                p {
                    margin: auto !important;
                    text-align: center !important;
                }
            }
        }

        @media (min-width: 1000px) {
            #arrow-down {
                display: none;
            }
        }
    }

    #lower-row {
        margin-top: -35px;

        @media (max-width: 1000px) {
            margin-top: 0;
        }
    }
    
    .service {
        width: 80%;
        height: 80%;
        margin-top: 50px;
        padding: 15px;
        border: solid gray 1px;

        @media (max-width: 1000px) {
            height: auto !important;
            margin: 25px auto !important;
        }

        span {
            color: color(primary-mid);
        }
        
        h2 {
            color: color(primary-mid);

            @media (max-width: 500px) {
                text-align: center;
            }
        }
        img {
            max-height: 100px;
            width: auto;
            display: block;
            float: right;
            margin: 10px;

            @media (max-width: 500px) {
                float: none;
                margin: auto;
                margin-bottom: 20px;
                margin-top: 20px;
            }
        }
    }

    a {
        color: color(primary);
        display: block;
        width: 120px;
        height: 50px;
        background-color: color(primary-mid);
        text-align: center;
        padding-top: 13px;
    }
}
